.primary-text-color{
    color: #d15f03;
}

.background-green {
    background-color: #66aa84;
  }

.mi-imagen {
    width: 700px;
    height: 300px;
}

.toast-center{
    text-align: center;
    width: 100%;
    color: #d15f03;
}

.icono {
    width: 60px;
    height:40px;
}